// Corrige a opacidade de todos os icones das redes sociais, na home, topo.
#social-icons a:hover {
	opacity: 1;
}

#social-icons a {
	opacity: 0.5;
}

// Melhoria no layout da Busca Principal
span.highlight {
  background: #ff0;
}

#content.internas .busca-geral h2.tileHeadline {
  font-size: 1.2em !important;
}

#content.internas h2.tileHeadline{
  font-size: 1.2em !important;
}
.internas .row-busca-f .acao-busca.button.btn.btn-primary{
  margin-left: 10px;
}
.internas .row-busca-f .acao-busca{
  padding: 9px 0 !important;
}
.phrases .chzn-container{
  width: 150px !important;
}
// fim alterações Busca Principal
