.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-bkg {
  background: none !important;
}
@media screen {
  @font-face {
    font-weight: normal !important;
    font-style: normal !important;
    font-family: "open_sanslight";
    src: url("../fonts/opensans-300-webfont.eot");
    src: url("../fonts/opensans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-300-webfont.woff") format("woff"), url("../fonts/opensans-300-webfont.ttf") format("truetype"), url("../fonts/opensans-300-webfont.svg#open_sanslight") format("svg");
  }
  @font-face {
    font-weight: normal !important;
    font-style: normal !important;
    font-family: "open_sansregular";
    src: url("../fonts/opensans-400-webfont.eot");
    src: url("../fonts/opensans-400-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-400-webfont.woff") format("woff"), url("../fonts/opensans-400-webfont.ttf") format("truetype"), url("../fonts/opensans-400-webfont.svg#open_sansregular") format("svg");
  }
  @font-face {
    font-weight: normal !important;
    font-style: normal !important;
    font-family: "open_sanssemibold";
    src: url("../fonts/opensans-600-webfont.eot");
    src: url("../fonts/opensans-600-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-600-webfont.woff") format("woff"), url("../fonts/opensans-600-webfont.ttf") format("truetype"), url("../fonts/opensans-600-webfont.svg#open_sanssemibold") format("svg");
  }
  @font-face {
    font-weight: normal !important;
    font-style: normal !important;
    font-family: "open_sansbold";
    src: url("../fonts/opensans-700-webfont.eot");
    src: url("../fonts/opensans-700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-700-webfont.woff") format("woff"), url("../fonts/opensans-700-webfont.ttf") format("truetype"), url("../fonts/opensans-700-webfont.svg#open_sansbold") format("svg");
  }
  @font-face {
    font-weight: normal !important;
    font-style: normal !important;
    font-family: "open_sansextrabold";
    src: url("../fonts/opensans-800-webfont.eot");
    src: url("../fonts/opensans-800-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-800-webfont.woff") format("woff"), url("../fonts/opensans-800-webfont.ttf") format("truetype"), url("../fonts/opensans-800-webfont.svg#open_sansextrabold") format("svg");
  }
}
/****************** Estilos basicos ******************/
body {
  background-color: #ffffff;
  color: #333333;
  font-family: "open_sansregular", 'Open Sans', Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open_sanssemibold", 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}
#content h1 {
  margin-top: 0 !important;
}
a {
  color: #0088cc;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
p {
  font-size: 1.0em !important;
  line-height: 1.75em;
}
ul li {
  display: list-item !important;
  list-style: square outside !important;
  line-height: 1.5em !important;
  font-size: 0.9em;
  margin-bottom: 0.25em;
}
ol li {
  display: list-item !important;
  list-style: decimal outside !important;
  line-height: 1.5em !important;
  font-size: 0.9em;
  margin-bottom: 0.25em;
}
blockquote {
  float: right;
  clear: right;
  border-bottom: 1px solid #717782;
  border-top: 4px solid #1a2a39;
  border-left: none;
  border-right: none;
  border-left: none !important;
  color: #9fa9b3;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: -0.03em !important;
  line-height: 1.25em;
  margin: 0 1em 0.5em 0.5em;
  width: 35%;
  padding: 1em 0 !important;
}
body {
  font-size: 14px;
}
/* STYLES FOR JOOMLA! EDITOR */
hr#system-readmore {
  border: red dashed 1px;
  color: red;
}
hr.system-pagebreak {
  border: gray dashed 1px;
  color: gray;
}
