# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,json,js,less,css,html}]
indent_size = 2

[Dockerfile]
indent_size = 4
trim_trailing_whitespace = false

[*.md]
indent_size = 1
trim_trailing_whitespace = false

[*.php]
indent_style = tab
