.area-de-imprensa-brasao-republica { display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px }
.area-de-imprensa-cabecalho { text-align: center }
.area-de-imprensa-cabecalho-title { text-transform: uppercase; }
.area-de-imprensa-compromissos-container { margin:20px 0; }