<?xml version="1.0" encoding="utf-8"?>
<config>
	<help>
		<topic key="admin.config.about" title="WF_CONFIG_HELP_ABOUT">
			<subtopic key="admin.config.cleanup" title="WF_CONFIG_HELP_CLEANUP" />
			<subtopic key="admin.config.format" title="WF_CONFIG_HELP_FORMAT" />
			<subtopic key="admin.config.compression" title="WF_CONFIG_HELP_COMPRESSION" />
			<subtopic key="admin.config.advanced" title="WF_CONFIG_HELP_ADVANCED" />
		</topic>
	</help>
</config>