label {

}

hr {
	border: 1px solid #cce6ff;
}

.ph-options-head {
	background: #E5F3FF;
	color: #0079e0;
	border: 1px solid #add9ff;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: -300px;
	font-size: 110%;
}

.ph-options-head-expert {
	background: #F2dede;
	color: #b74848;
	border: 1px solid #e2b6b6;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: -300px;
	font-size: 110%;
}



.form-horizontal .controls {
    margin-left: 300px !important;
}