.period {
  font-size: 1em !important;
  font-weight: bold;

  text-align: center;
}

.birthdays {
  margin: 0;

  > li {
    display: list-item;

    min-height: 30px;
    margin-bottom: 5px;
  }
}

.date {
  padding: 5px;

  text-align: center;

  color: @cor-titulo-principal;
  border-radius: 2px;
  background-color: @cor-principal;
}

.person {
  padding: 5px;
}
