.interna-01 {
    h1, .documentFirstHeading {
        color: #1A2A39; 
        font-size: 2.5em;
        margin: 15px 0;
        padding-bottom: 0.4em;
        text-transform: none;
        letter-spacing:-1px;
    }
    .documentByLine {
        color:@cor-cinza-escuro; font-size:0.8em; margin-bottom:20px;
    }
    strong.description {
        display:block; font-size:1.1em; margin:12px 0; color:@cor-cinza-escuro;
    }
    //estilos gerais
    p { line-height: 1.8em; }
    ul, ul li { list-style-type:disc !important; display:block; }
    ol { list-style:outside decimal !important; }
    ul li { line-height: 1.5em !important; display:block; }
    ol li { line-height: 1.5em !important; display:block; }
}