<?xml version="1.0" encoding="utf-8"?>
<config>
        <fieldset
                name="general"
                label="COM_AGENDADIRIGENTES_CONFIG_GENERAL_SETTINGS_LABEL"
        >
                <field
                        name="fonte_nome_orgao"
                        type="list"
                        label="Nome do órgão"
                        description="Fonte do nome do órgão"
                        default="custom"
                        >                                
                        <option value="custom">Digite abaixo</option>
                        <option value="site_name">Nome do site</option>
                        <option value="tmpl_padraogoverno01">Template do portal padrão VR 01</option>
                </field>
                <field
                        name="custom_nome_orgao"
                        type="text"
                        label="Digite o nome do órgão"
                        description="Nome do órgão que ficará entre o brasão da república e o nome da autoridade"
                        default="Órgão do Poder Executivo Federal"
                />
                <!-- description="COM_AGENDADIRIGENTES_CONFIG_GENERAL_SETTINGS_DESC" -->
                <field
                        name="email_administrators"
                        type="textarea"
                        cols="40"
                        rows="4"
                        label="COM_AGENDADIRIGENTES_EMAIL_ADMINISTRATORS_LABEL"
                        description="COM_AGENDADIRIGENTES_EMAIL_ADMINISTRATORS_DESC"
                        default=""
                />
                <field
                        name="link_reportar_erro"
                        type="textarea"
                        cols="40"
                        rows="4"
                        label="Reportar Erro"
                        description="Link para reporte de erro"
                        default=""
                />
                <field
                        name="busca_itemid"
                        type="menuitem"
                        label="Itemid de busca"
                        description="Itemid da página de busca"
                        >
                        <option value="">Selecione</option>
                </field>
                <field
                        name="permissionsType"
                        type="list"
                        label="Tipo de permissao"
                        description="Permissoes implicitas ou explicitas."
                        default="implicit"
                >                                
                        <option value="implicit">Implícita</option>
                        <option value="explicit">Explícita</option>
                </field>
                <field
                        name="editOwnState"
                        type="list"
                        label="Editar estado de itens proprios"
                        description="Permitir edicao de estado de itens proprios, se edicao de itens proprios estiver liberada"
                        default="0"
                >                                
                        <option value="0">JNO</option>
                        <option value="1">JYES</option>
                </field>
                <field
                        name="allowFeature"
                        type="list"
                        label="Permitir marcar como destaque"
                        description="Escolher opção referente ao destaque ou não de itens"
                        default="state"
                >                                
                        <option value="state">Permissão de alterar estado</option>
                        <option value="edit">Permissão de editar</option>
                        <option value="superuser">Somente super users</option>
                </field>
                <field
                        name="restricted_list"
                        type="list"
                        label="Restringir lista de compromissos"
                        description="Restringe lista de compromissos de acordo com os itens para os quais se tem permissão."
                        default="0"
                >
                        <option value="0">JNO</option>
                        <option value="1">JYES</option>
                </field>
        </fieldset>
        <fieldset
                name="compromissos"
                label="COM_AGENDADIRIGENTES_CONFIG_COMPROMISSOS_SETTINGS_LABEL"
        >
                <!-- description="COM_AGENDADIRIGENTES_CONFIG_COMPROMISSOS_SETTINGS_DESC" -->
                <field
                        name="exibir_horario_inicio"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSOS_EXIBIR_HORARIO_INICIO_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSOS_EXIBIR_HORARIO_INICIO_DESC"
                        default="1"
                        >
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>
                <field
                        name="exibir_horario_fim"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSOS_EXIBIR_HORARIO_FIM_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSOS_EXIBIR_HORARIO_FIM_DESC"
                        default="1"
                        >
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>
                <field
                        name="exibir_local"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_LOCAL_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_LOCAL_DESC"
                        default="1"
                >                                
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>
                <field
                        name="exibir_pauta"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PAUTA_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PAUTA_DESC"
                        default="1"
                >                                
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>
                <field
                        name="exibir_participantes_locais"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PARTICIPANTES_LOCAIS_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PARTICIPANTES_LOCAIS_DESC"
                        default="1"
                        >
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>
                <field
                        name="exibir_participantes_externos"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PARTICIPANTES_EXTERNOS_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_EXIBIR_PARTICIPANTES_EXTERNOS_DESC"
                        default="1"
                        >
                        <option value="0">JHIDE</option>
                        <option value="1">JSHOW</option>
                </field>  
                <field
                        name="permitir_sobreposicao"
                        type="list"
                        label="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_PERMITIR_SOBREPOSICAO_LABEL"
                        description="COM_AGENDADIRIGENTES_COMPROMISSO_PARAM_PERMITIR_SOBREPOSICAO_DESC"
                        default="1"
                        >
                        <option value="0">JNO</option>
                        <option value="1">JYES</option>
                </field>
                <field
                        name="permitir_vcard"
                        type="list"
                        label="Permitir VCARD"
                        description="Permitir ou não VCARD"
                        default="1"
                >                                
                        <option value="0">JNO</option>
                        <option value="1">JYES</option>
                </field>
        </fieldset>
        <fieldset
                name="sharing"
                label="Compartilhamento"
                description="Descrição compartilhamento"
        >
                <field
                        name="sharing_type"
                        type="list"
                        label="Tipo"
                        description="Tipo desc"
                        default="module"
                >                                
                        <option value="none">Ocultar</option>
                        <option value="html">Código HTML</option>
                        <option value="module">Módulo</option>
                </field>
                <field
                        name="sharing_code"
                        type="textarea"
                        cols="40"
                        rows="6"
                        label="Código para compartilhamento (tipo código HTML)"
                        description="Somente para compartilhamento do tipo código HTML"
                        default=""
                        filter="raw"
                />  
                <field
                        name="sharing_mod_position"
                        type="text"
                        label="Posição do módulo (tipo módulo)"
                        description="Somente para compartilhamento do tipo módulo"
                        default="com_agendadirigentes-aut-btns-social"
                />
        </fieldset>
        <fieldset
                name="permissions"
                label="JCONFIG_PERMISSIONS_LABEL"
                description="JCONFIG_PERMISSIONS_DESC"
        >
                <field
                        name="rules"
                        type="rules"
                        label="JCONFIG_PERMISSIONS_LABEL"
                        class="inputbox"
                        validate="rules"
                        filter="rules"
                        component="com_agendadirigentes"
                        section="component"
                />
        </fieldset>
</config>
